<%- include('includes/head') %>
    <div class="warpper">
        <form action="/login/login" method="post">
            <input type="hidden" name="_csrf" value=<%= csrfToken%>>
            <h1>Login</h1>
            <%- include('includes/messages') %>
            <div class="input-box">
                <input type="text" placeholder="email" autocomplete="off" required name="email" <% if (loginError) { %> style="border: 1px solid red;" <% } %>>
                <i class="bi bi-person-fill" ></i>
            </div>
            <div class="input-box">
                <input type="password" placeholder="Password" autocomplete="off" required class="password" name="password" <% if (loginError) { %> style="border: 1px solid red;" <% } %>>
                <i class="bi bi-lock-fill" id="password_icon"></i>
            </div>

            <button type="submit" class="btn">Login</button>

            <div class="register-link">
                <p>Não tenho uma conta? <a href="/register">Register</a></p>
            </div>
        </form>
    </div>
<%- include('includes/footer-login') %>
