<%- include('includes/head') %>
    <div class="warpper">
        <form action="">
            <h1>Login</h1>
            <div class="input-box">
                <input type="text" placeholder="Username or email" autocomplete="off" required>
                <i class="bi bi-person-fill"></i>
            </div>
            <div class="input-box">
                <input type="password" placeholder="Password" autocomplete="off" required class="password">
                <i class="bi bi-lock-fill" id="password_icon"></i>
            </div>

            <button type="submit" class="btn">Login</button>

            <div class="register-link">
                <p>Não tenho uma conta? <a href="">Register</a></p>
            </div>
        </form>
    </div>
<%- include('includes/footer') %>
