<%- include('includes/head') %>
    <div class="warpper">
        <form action="">
            <h1>Register</h1>
            <div class="input-box">
                <input type="text" placeholder="Username" autocomplete="off" required>
                <i class="bi bi-person-fill"></i>
            </div>
            <div class="input-box">
            <input type="text" placeholder="Email" autocomplete="off" required class="email">
            <i class="bi bi-envelope-fill"></i>
            </div>
        
            <div class="input-box">
                <input type="password" placeholder="Password" autocomplete="off" required class="password">
                <i class="bi bi-lock-fill" id="password_icon"></i>
            </div>
            <div class="input-box">
                <input type="password" placeholder="Repeat Password" autocomplete="off" required class="password">
                <i class="bi bi-lock-fill" id="repeat_password_icon"></i>
            </div>

            <button type="submit" class="btn">Register</button>

            <div class="register-link">
                <p>Tem conta? <a href="/login">Login</a></p>
            </div>
        </form>
    </div>
<%- include('includes/footer-register') %>