<% if (loginInsistent) { %>
    <span class="span-login-error">*Usuário não encontrado</span>
<% } %>
<% if (loginError) { %>
    <span class="span-login-error">*Email ou senha inválidos</span>
<% } %>